<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Pre Login Header</title>
    <style>
        .container {
            text-align: center;
            color: #C09A81;
        }
        ul#menu li {
            display:inline;
        }
        #title{
            font-family: 'Inter';
            font-size: 100px;
            font-weight: 1;
            margin-bottom: unset;
            margin-top: 0;
        }
    </style>
</head>
<body>
<header class="container">
<p id="title">Bloom</p>
<hr class="solid" style="border-color:#C09A81; width:1000px;">
<div>
    <ul id="menu">
        <li>소개</li>
        &emsp;&emsp;<li>상담사</li>
        &emsp;&emsp;<li>후기</li>
        &emsp;&emsp;<li>FAQ</li>
        &emsp;&emsp;<li>로그인</li>
        &emsp;&emsp;<li>회원가입</li>
    </ul>
</div>
<hr class="solid" style="border-color:#C09A81; width:1000px;">
</header>
</body>
</html>