<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first</title>
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <style>

        img{ width: 700px; height: 350px; border-radius: 30px;display: block;
            margin-left: auto;margin-right: auto;}
        section {display: flex;justify-content: center;}
        section article {margin-left: 100px;margin-right: 100px;}
        span{color: white;}
        button{border-radius: 30px;width: 150px;height: 40px; color:#C09A81;border-color: white}

    </style>
</head>
<body class="container">
    <!-- 헤더 -->
    <nav>
        <h1>Bloom</h1>
        <hr/>
            <div>
                메뉴
            </div>
        <hr/>
    </nav>
    <!-- 검사 멘트 -->
    <main>
        <h3>검증된 심리검사로 자신을 마주해보아요</h3>
    </main>
    <!-- 사진 -->
    <img src="images/test.jpg" class="center" >
    <div class="clear"></div>
    <br>
    <!-- 원모양 배경1-->
    <section >
        <article>
            <div class="circle" ><img class="icons" src="images/bulb.png" alt="전구"></div><br>
            <span>검사예상 소요시간<br>
            3분
        </span>
        </article>
        <!-- 원모양 배경2-->
        <article>
            <div class="circle"><img class="icons" src="images/hand.png" alt="전구"></div><br>
            <span>총 검사 문항 수 <br>
            32문항
        </span>
        </article><br>
    </section>
    <br>
    <!-- 검사하기 버튼 -->
    <button onclick="location.href='/start'">검사하기</button>
    <br><br><br>
    <!-- 풋터 -->
    <footer>
        <hr>
        메뉴
        <hr>
    </footer>




</body>
</html>