<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  <link rel="stylesheet" type="text/css" href="css/regist/regist.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="beigeContainerBrownGrass.css">
<div class="container">
    <div>
        <img class="image" src="images/regist/일반회원.png">
        <p class="maintxt">일반 회원 가입</p><br><p class="subtxt">만 18세 이상</p>
    </div>
    <div>
        <img class="image" src="images/regist/상담사.png">
        <p class="maintxt">상담사 회원 가입</p>
    </div>
</div>
<div th:include="Components/beigeBackgroundBrownGrass.html"></div>
<div th:include="Components/Footer.html">
</div>
</body>
</html>