<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body class="beigeContainer">
<h1 class="title">회원가입</h1>
<label>
    이름&ensp;* <input type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능" style="width:400px;font-size:15px;"></p>
    아이디&ensp;* <input type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능" style="width:400px;font-size:15px;">&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button></p>
    비밀번호&ensp;* <input type="text" placeholder="8 ~ 20 자 / 대소문자, 숫자, 특수기호 필수 공백 불가" style="width:400px;font-size:15px;"></p>
    닉네임&ensp;* <input type="text" placeholder="대 20자 공백 / 특수기호 불가 / 영문/한글 가능" style="width:400px;font-size:15px;">&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button></p>
    전화번호&ensp;* <input type="text" style="width:40px;"> - <input type="text" style="width:40px;"> - <input type="text" style="width:40px;">&emsp;&emsp;성별 *&emsp;<input type="radio">&emsp;&emsp;<input type="radio"></p>
    이메일&ensp;* <input type="text" style="width:150px;font-size:15px;">&ensp;@&ensp;<input type="text" style="width:150px;font-size:15px;">
    <select>
        <option value="naver.com">naver.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="yahoo.com">yahoo.com</option>
        <option value="hotmail.com">hotmail.com</option>
    </select>&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">본인인증</button></p>
    <input type="text" style="width:100px">&ensp;<button type="submit" style="width:100px;height:25px;color:#FFFFFF;background-color:#C09A81">본인인증확인</button></p>
    <hr class="solid" style="width:700px;">
    <h3>이용약관</h3>
    <textarea rows="10" cols="80" id="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum</textarea></p>
    <button type="submit" style="width:200px;">취소</button>&ensp;&ensp;<button type="submit" style="width:200px;">회원가입</button>
</label>
<footer>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1912 211" fill="none" margin-top="auto" >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L105.787 21.641C211.574 43.2821 425.107 87.4658 636.68 87.4658C850.213 87.4658 1061.79 43.2821 1275.32 35.1667C1486.89 26.1496 1700.43 52.2991 1806.21 65.8248L1912 79.3504V211H1806.21C1700.43 211 1486.89 211 1275.32 211C1061.79 211 850.213 211 636.68 211C425.107 211 211.574 211 105.787 211H0V0Z" fill="#3C5B4B"/>
</svg>
</footer>
</body>
</html>
<!---->